/* Header */

	body.is-preload #header.alt > * {
		opacity: 1;
	}

	body.is-preload #header.alt .logo {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
